*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}
.h1{
    height: 200px;

}